<mat-toolbar color="primary">
  <span>Home page</span>
</mat-toolbar>
<div class="container">
  <mat-accordion>
    <mat-expansion-panel hideToggle *ngFor="let item of data">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ item.name }}
        </mat-panel-title>
        <mat-panel-description>
          <span class="list-item-status">{{ item.status }}</span>
          {{ item.modify }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
        Author: {{ item. author }}<br>
        Last bacup from {{ item.date }}<br>
        Campaign id: {{ item.s_id }}<br>
        <div style="display: flex; justify-content: flex-end">
        <a mat-raised-button color="primary" [routerLink]="['/campaigns/' + item.s_id]">Go to {{ item.name }} campaign</a>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>
