<mat-toolbar color="primary" class="toolbar">
  <div class="toolbar__back">
    <button mat-icon-button [routerLink]="'/'" >
      <mat-icon aria-hidden="false" aria-label="Back to home">arrow_back</mat-icon>
    </button>
  </div>
  <span>{{ first?.name }}</span>
</mat-toolbar>
<div class="container">
  <h1>Last revision</h1>
  JavaScript [{{ first?.date }}]
  <ngx-codemirror
    [ngModel]="first?.js"
    [options]="{
    lineNumbers: true,
    readOnly: true,
    theme: 'material',
    mode: 'javascript'
  }"
  ></ngx-codemirror>
  CSS [{{ first?.date }}]
  <ngx-codemirror
    [ngModel]="first?.css"
    [options]="{
    lineNumbers: true,
    readOnly: true,
    theme: 'material',
    mode: 'css'
  }"
  ></ngx-codemirror>

  HTML [{{ first?.date }}]
  <ngx-codemirror
    [ngModel]="first?.html"
    [options]="{
    lineNumbers: true,
    readOnly: true,
    theme: 'material',
    mode: 'html'
  }"
  ></ngx-codemirror>
</div>
