.revisions {
  padding: 0 1rem;

  &__info {
    p {
      margin-bottom: 0;
    }
  }
}

.campaign-link {
  color: var(--primary-color);
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
