<mat-toolbar color="primary" class="toolbar">
  <div class="toolbar__back">
    <button mat-icon-button (click)="back()">
      <mat-icon aria-hidden="false" aria-label="Back to home">arrow_back</mat-icon>
    </button>
  </div>
  <span>{{ campaign?.name }} {{ campaign?.date }}</span>
</mat-toolbar>

<div class="container">

  <mat-tab-group *ngIf="campaign">
    <mat-tab label="Javascript">
      <ng-template matTabContent>
        <ngx-codemirror
          [ngModel]="campaign?.js"
          [options]="{
    lineNumbers: true,
    readOnly: true,
    theme: 'material',
     autoFocus: true,
    mode: 'javascript'
  }"
        ></ngx-codemirror>
      </ng-template>
    </mat-tab>
    <mat-tab label="CSS">
      <ng-template matTabContent>
        <ngx-codemirror
          [ngModel]="campaign?.css"
          [options]="{
    lineNumbers: true,
    readOnly: true,
    autoFocus: true,
    theme: 'material',
    mode: 'css'
  }"
        ></ngx-codemirror>
      </ng-template>
    </mat-tab>
    <mat-tab label="HTML">
      <ng-template matTabContent>
        <ngx-codemirror
          [ngModel]="campaign?.html"
          [options]="{
    lineNumbers: true,
    readOnly: true,
     autoFocus: true,
    theme: 'material',
    mode: 'html'
  }"
        ></ngx-codemirror>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
