/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

@mixin candy-carousel-color($config-or-theme) {
  // Extract the color configuration in case a theme has been passed.
  // This allows consumers to either pass a theme object or a color configuration.
  $config: mat-get-color-config($config-or-theme);
  // Extract the palettes you need from the theme definition.
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);

  // Define any styles affected by the theme.
  .candy-carousel {
    // Use mat-color to extract individual colors from a palette.
    background-color: mat-color($primary);
    border-color: mat-color($accent, A400);
  }
}

:root {
  --body-background-color: #f2f5f6;
  --font-color: rgba(0, 0, 0, .74);
  --primary-color: rgb(63, 81, 181);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--body-background-color);
  color: var(--font-color);
}

body {

  .main-container {
    height: calc(100vh - 64px);
    overflow: auto;
  }

  .container {
    width: 1366px;
    padding: 1rem;
    margin: auto;
  }

  // override angular material styles
  .mat-expansion-panel-header-description {
    justify-content: flex-end;
  }

  .mat-toolbar-row, .mat-toolbar-single-row {
    height: 48px;
    padding: 0 0.5rem 0 0;
  }

  .toolbar {
    position: relative;
    z-index: 2;

    &.mat-primary {
      background-color: #fff;
      color: rgba(0, 0, 0, .54);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    }

    &__back {
      button {
        background-color: var(--primary-color);
        height: 48px;
        width: 48px;
        display: grid;
        place-items: center;
        margin-right: 1rem;
        transition: opacity 0.2s ease;
        border-radius: 0;

        &:hover,
        &:focus {
          opacity: 0.9;
        }
      }

      .mat-icon {
        color: #fff;
        position: relative;
        top: -1px;
      }
    }

    span {
      font-size: 16px;
      font-weight: 500;
    }
  }

  .mat-tab-label {
    color: #000 !important;
  }

  .CodeMirror {
    min-height: calc(100vh - 64px - 49px - 2rem) !important;
  }

  .m-title {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
  }

  .list-item-status {
    margin-left: 1rem;
    border: 1px solid #dedede;
    font-size: 12px;
    padding: 0 1rem;
    border-radius: 50px;

    &.active {
      border-color: #00C851;
      color: #00C851;
    }
  }

  .list-item-date {
    min-width: 200px;
    text-align: right;
  }

  .mat-expansion-panel-header-title {
    justify-content: space-between;
  }

  .example-full-width {
    display: block;
    width: 100%;
  }
}

.mat-expansion-panel-header {
  border-left: 2px solid transparent;

  &:hover,
  &:focus {
    transition: all 0.2s ease;
    border-left-color: #00C851;

    .mat-expansion-panel-header-title {
      transform: translateX(10px);
    }
  }

  .mat-expansion-panel-header-title {
    transition: all 0.2s ease;
    color: var(--font-color);
  }

  .mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: var(--primary-color) !important;
  }
}
