/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  width: 1366px;
  padding: 1rem;
  margin: auto;
}

// override angular material styles
.mat-expansion-panel-header-description {
  justify-content: flex-end;
}

.toolbar {
  &__back {
    margin-right: 1rem;
  }
}
