/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

@mixin candy-carousel-color($config-or-theme) {
  // Extract the color configuration in case a theme has been passed.
  // This allows consumers to either pass a theme object or a color configuration.
  $config: mat-get-color-config($config-or-theme);
  // Extract the palettes you need from the theme definition.
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);

  // Define any styles affected by the theme.
  .candy-carousel {
    // Use mat-color to extract individual colors from a palette.
    background-color: mat-color($primary);
    border-color: mat-color($accent, A400);
  }
}

:root{
  --body-background-color: #f2f5f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--body-background-color);
}

.main-container {
  height: calc(100vh - 64px);
  overflow: auto;
}

.container {
  width: 1366px;
  padding: 1rem;
  margin: auto;
}

// override angular material styles
.mat-expansion-panel-header-description {
  justify-content: flex-end;
}

.toolbar {
  &__back {
    margin-right: 1rem;
  }
}

.mat-tab-label {
  color: #000 !important;
}

.CodeMirror {
  min-height: calc(100vh - 64px - 49px - 2rem) !important;
}

.m-title {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}

.list-item-status {
  margin-left: 1rem;
  border: 1px solid #dedede;
  font-size: 12px;
  padding: 0 1rem;
  border-radius: 50px;

  &.active {
    border-color: #00C851;
    color: #00C851;
  }
}

.list-item-date {
  min-width: 200px;
  text-align: right;
}

.mat-expansion-panel-header-title {
  justify-content: space-between;
}

.example-full-width {
  display: block;
  width: 100%;
}
